{% extends 'base.html' %}

{% block title %}
  投稿作成
{% endblock title %}

{% block content %}
  <h1>投稿作成</h1>
  <div class="card bg-light shadow-sm mt-3">
    <div class="m-3">
      <form method="post" action="{% url 'sns:create' %}">
        {% csrf_token %}
        <!-- <input type="text" name="text" /> -->

        <div class="input-group" style="height: 150px;">
          <span class="input-group-text">投稿作成</span>
          <textarea class="form-control " aria-label="With textarea" type="text" name="text"></textarea>
        </div>
        

        <div class="row mt-3">
          <!-- <div class="col-10 "> -->
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">投稿</button>
            </div>
          <!-- </div> -->
          <!-- <div class="col-2">

            <div class="d-grid gap-2">

            </div>

          </div> -->
        </div>
      </form>

    </div>
  </div>
  <div class="d-flex flex-row-reverse mt-3">
    <button class="btn btn-secondary w-25" type="button" onclick="location.href=`{% url 'sns:top' %}`">
      トップへ
    </button>
  </div>
{% endblock content %}