{% extends 'base.html' %}

{% block title %}
  投稿一覧
{% endblock title %}

{% block content %}
  <h1>投稿一覧</h1>
 
  {% for object in object_list reversed %}
  <div class="mt-3">
    <div class="card">
      <div class="card-header">
        {{ object.username }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ object.text }}</p>
        </blockquote>
      </div>
      <div class="card-footer text-muted">
        {{ object.updated_at }}
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock content %}