{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}
  ユーザー登録
{% endblock title %}
{% block content %}

    <h1 class="mt-5">ユーザー登録</h1>
    <div class="card bg-light shadow-sm mt-3">
      <form method="POST" action="" class="m-3">
        <table>
        {% csrf_token %}
    
        {{ form|crispy }}
      </table>
      <div class="mt-3">
        <button type="button" class="btn btn-secondary " onclick="location.href=`{% url 'sns:top' %}`">
          戻る
        </button>
        <input class="btn btn-primary me-3 w-25 float-end" type="submit" id="save" value="登録">
      </div>
      </form>
    </div>
{% endblock %}